<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
  
  <link rel='stylesheet' href='/content/app.css' />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  </head>
  
  <body>
    <!-- Nav Bar Section -->
    <%- include('./components/header.ejs'); %>
  
      <!-- Nav Bar Section -->
  
      <!-- Main Section -->
      <main>
        <%- include('./content/' + page + '.ejs' ); %>
      </main>
      <!-- Main Section -->
  
      <!-- Bottom section -->
      <%- include('./components/footer.ejs'); %>
        <!-- Bottom section -->
  
 


  <!-- Javascript section -->
  <script src="/scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<!-- COMP229 | STUDENT NAME: MD MAHBUB E WADUZZAMAN | STUDENT ID # 301133853 -->