
 <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->
<div class="container">
    
    <h1> About Mahbub E Waduzzaman:</h1>  
            <!DOCTYPE html>
            <html>
              <head>
                <title>Title of the document</title>
              </head>
              <body>
                <p>Currently, I am pursuing a, <strong>Advanced Diploma in Software Engineering Technology at Centennial College </strong>, 
                  where I gain programming skills in C#, Java, JavaScript, HTML, CSS. I have an excellent understating of Software Design, 
                  Web Design, WebApp Development, Linux/Unix Operating System, Windows command line, Agile Software Development, Git, Eclipse, 
                  and Oracle SQL. Additionally, I have one year of inventory management experience and 12 years of customer support experience,
                  where I have demonstrated skills such as an ability to work in fast-paced environments, collaboration and detail-orientation. 
                  </p>
                <h1>Resume </h1>
                <iframe src="./assets/images/Resume of Mahbub E Waduzzaman.pdf" width="100%" height="750px">
                </iframe>
              </body>
            </html>
            
        
    </div>

     <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->

    
   

   
