 <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->

<div class="container">
  <body>
    <h1>
      <%= title %>
    </h1>
    <p>
    30 Tuxedo Crt. | Scarborough | Ontario | M1G 3S6 | Cell: + 1(647) 510-**** | waduzzaman@gmail.com 
   </p>
   
<!-- Add font awesome icons -->
<!-- Added Social media Links-->        
<!-- -->    
<!-- -->    


<a href="https://www.facebook.com/waduzzaman/" class="fa fa-facebook"></a>     |     
<a href="https://twitter.com/waduzzaman" class="fa fa-twitter"></a>      |             
<a href="https://www.linkedin.com/in/mahbubewaduzzaman/" class="fa fa-linkedin"></a>     |
<a href="https://www.youtube.com/channel/UCGTXTKO2b0QYjU67BceUkWw" class="fa fa-youtube"></a>      |
<a href="https://www.instagram.com/waduzzaman/" class="fa fa-instagram"></a>    |  

<br>
<h5><center>Please Enter Details:</center></h5>
<p><h5></h5> </p>


<link href="projectStyles.css" rel="stylesheet" type="text/css"> 

 <form method="post" action="mailto:mwaduzzaman@gmail.com">
		<table style="width: 100%">
			<tr>
				<td id="tableData"><span id="tableLabel" lang="en-ca">First Name :</span></td>
        
				<td><span lang="en-ca">
				<input name="First Name" size="50" tabindex="3" type="text"></span></td>
			</tr>
			<tr>
				<td id="tableData"><span lang="en-ca">Last Name</span></td>
				<td><span lang="en-ca">
				<input name="Last Name" size="50" tabindex="4" type="text"></span></td>
			</tr>
			<tr>
				<td id="tableData"><span lang="en-ca">Contact Number: </span>
				</td>
				<td><span lang="en-ca">
				<input name="Contact Number" size="50" tabindex="4" type="text"></span></td>
			
      </tr>			
				<td id="tableData"><span lang="en-ca"><label> Email Address:</label>
          <td>
            <span lang="en-ca">
            <input name="Customer Email ID size" size="50" tabindex="5" type="text"></span>
          </td>				
			</tr>
			<tr>

				<td id="tableData"><span lang="en-ca">Message:</span></td>
				<td>
		<span lang="en-ca">
				<textarea cols="50" name="Message" rows="5" tabindex="10"></textarea><br> </span>
				</td>
			</tr>		
      <tr>
      <td id="tableData">
      <input name="SendYourInfo" tabindex="15" type="submit" value="Send your information"></td>
      <td>
      <input name="Clear" tabindex="16" type="reset" value="Reset"></td>
    </tr>
    </table>
	</form>
    </main>

    <p>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .fa {
          padding: 10px;
          font-size: 20px;
          width: 40px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
          background: #3B5998;
          color: white;
          
        }
        
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
                
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }
        
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
        
        .fa-instagram {
          background: #125688;
          color: white;
        }
          
               
        </style>
      
              
    </p>

  </div>
   
</body>

   <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->

   <!-- Imported font awsome icons and -->