<div class="container">   
    
    <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->
<html lang="en">
    <head>
    <title>Waduzzaman Home Page </title>
    <meta charset="utf-8">
    <style type="text/css">
    .newStyle1 {
        text-decoration: none;
    }
    </style>
    </head>

    <body >
        <a href="#"> <img src="./assets/images/mahbub1.png" alt="mahbub1" style="float:right;" 
            border="black"; border="3" "The border is 3;"></a>
    

    <h1> Welcome to Waduzzaman's Personal Page</h1>
    <!--<hr style="border-style:solid;border-color:olive;border-width:2px;">-->
    <p> </p>
    <h3> Sofware Developer | Web Designer | SQL Developer </h3>
    <br>
    <h5> Mission Statement</h5>
     <p>As a novice Software Developer my aim is to provide the best possible solution to the company and the client. </p>
    
    <br>
    <h6>One of my favorite quote is:</h6>
    <blockquote>
    <i>When you really want something, the whole universe conspires in helping you to achieve it.</i>
    <br>~~~Paulo Coelho/The Alchemist~~~ <br>
    </blockquote>   
    <h6>Some of my favorite things to do are: </h6>
    <ul>
    <li>Learning new things</li>
    <li>Travelling</li>
    <li>Shopping</li>
    <li>Watching movies</li>
    <li>Watching TV shows</li>    
    </ul>
    </main>
    
        
    </body>

</html>

</div>
