<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <h1>Projects: </h1>
    <br>  
    <a href="http://studentweb.cencol.ca/mwaduzza/Week09/Week09.html"> <img src="./assets/images/Registrationform.png" alt="registraitonfrom " style="float:left;" 
      border="black"; border="3" "The border is 3;"></a>
    
    <a href="http://studentweb.cencol.ca/mwaduzza/COMP125_assignment1/index.html"> <img src="./assets/images/bmrcal.png" alt="bmrcal" style="float:initial;" 
    border="black"; border="3" "The border is 3;"></a>

    <a href="http://studentweb.cencol.ca/mwaduzza/COMP125_assignment3/photos.htm"> <img src="./assets/images/photogallery.png" alt="photogallery" style="float:left;" 
      border="black"; border="3" "The border is 3;"></a>
        
    <a href="http://studentweb.cencol.ca/mwaduzza/Week08/Week08.html"> <img src="./assets/images/MediaDesign.png" alt="MediaDesign" style="float:left;" 
    border="black"; border="3" "The border is 3;"></a>

    <a href="http://studentweb.cencol.ca/mwaduzza/COMP125_assignment5/assignment_5.html"> <img src="./assets/images/bugsmasher.png" alt="bugsmasher game" style="float:left;" 
      border="black"; border="3" "The border is 3;"></a>
   
    <a href="http://studentweb.cencol.ca/mwaduzza/Week05/Week05.html"> <img src="./assets/images/bestselling phone.png" alt="bestselling phone" style="float:left;" 
      border="black"; border="3" "The border is 3;"></a>
     
      <a href="http://studentweb.cencol.ca/mwaduzza/Project/home.html"> <img src="./assets/images/Realtyweb.png" alt="Realtyweb " style="float:inherit;" 
        border="black"; border="3" "The border is 3;"></a>

      

  </body>
</html>

